streamlit
pandas==2.2.2
numpy==1.26.4
plotly==5.22.0
geopandas
shapely
fiona
pyproj
rtree
geopy
streamlit-plotly-events
openpyxl
prophet==1.1.5
yfinance
statsmodels==0.14.2
pmdarima==2.0.4
scikit-learn

